
Alpha/SOURCE/app/.idea/copyright/profiles_settings.xml
Alpha/SOURCE/app/.idea/compiler.xml
Alpha/SOURCE/app/.idea/gradle.xml
Alpha/SOURCE/app/.idea/misc.xml
Alpha/SOURCE/app/.idea/modules.xml
Alpha/SOURCE/app/.idea/runConfigurations.xml
Alpha/SOURCE/app/app/proguard-rules.pro
Alpha/SOURCE/app/app/src/androidTest/java/com/example/administrator/myapplication4/ExampleInstrumentedTest.java
Alpha/SOURCE/app/app/src/test/java/com/example/administrator/myapplication4/ExampleUnitTest.java
Alpha/SOURCE/app/gradlew
